In [45]:
import pandas as pd

バイト代のエクセルファイルを読み込み

In [46]:
df = pd.read_excel("バイト代2023ver.xlsx")
df

      月     バイト代
0    1月  66565.0
1    2月  75075.0
2    3月  91198.0
3    4月  89110.0
4    5月  87375.0
5    6月  77388.0
6    7月  82318.0
7    8月  88910.0
8    9月  73725.0
9   10月      NaN
10  11月      NaN
11  12月      NaN

NANの部分にいろいろな予想値を埋め込む

もし10月以降のバイト代が9月と一緒だったら

In [47]:
df.fillna(method="ffill", axis=0)

      月     バイト代
0    1月  66565.0
1    2月  75075.0
2    3月  91198.0
3    4月  89110.0
4    5月  87375.0
5    6月  77388.0
6    7月  82318.0
7    8月  88910.0
8    9月  73725.0
9   10月  73725.0
10  11月  73725.0
11  12月  73725.0

合計を算出

In [55]:
df_sum = df["バイト代"].sum()
df_sum

731664.0

1年の残りの稼げる額を表示

In [58]:
df_sub = 1030000 - df["バイト代"].sum()
df_sub

298336.0

統計情報を表示

In [50]:
df.describe()

               バイト代
count      9.000000
mean   81296.000000
std     8539.435198
min    66565.000000
25%    75075.000000
50%    82318.000000
75%    88910.000000
max    91198.000000